@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e2e8f0;
    display: flex;
    min-height: 100vh;
}

aside{
    background-color: #1992d4;
    padding: 15px;
    color: white;
    grid-column: 1 / 2;
    width: 200px;
}

.sidebar-group{
    display: grid;
    gap: 10px;
    margin-top: 30px;
}

.settings{
    margin-top: 40px;
}

.content{
    flex: 2;
}

header{
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.search{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 100px;
}

.search-bar{
    width: 100%;
    height: 100%;
    flex: 2;
    border-radius: 20px;
    background-color: #e2e8f0;
}

.left-search{
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-search{
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile{
    width: 30px;
    height: 30px;
    background-color: #facc15;
    border-radius: 50px;
}

nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-big{
    width: 48px;
    height: 48px;
    background-color: #facc15;
    border-radius: 50px;
}

nav button{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 20px;
    background-color: #1992d4;
    color: white;
}

nav button:nth-child(even){
    margin-left: 5px;
    margin-right: 5px;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: baseline;
    padding: 20px 40px;
}


.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
}

.project-card{
    background-color: white;
    border-radius: 5px;
    border-left: 4px solid #f0b429;
    height: 130px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.announcement-box{
    background-color: white;
    border-radius: 5px;
    height: 230px;
    max-height: 230px;
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.trending-box{
    background-color: white;
    border-radius: 5px;
    height: 150px;
    max-height: 150px;
    max-width: 250px;
    margin-top: 5px;
}
