@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    background-color: #E2E8F0;
}

aside{
    background-color: #1992D4;
    padding: 10px;
}

.logo, li{
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.logo > img{
    filter: invert(1);
    height: 25px;
    width: 25px;
}

li{
    margin-bottom: 10px;
}

ul{
    margin-top: 40px;
}

.icon{
    filter: invert(1);
    height: 15px;
    width: 15px;
}

main{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 4fr;
}

header{
    background-color: white;
    box-shadow: 1px 1px 4px #acb0b7;
    padding: 10px 20px;
}

.header-top, .header-bottom{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 10px;
}

.header-bottom{
    padding-bottom: 0;
}

.search{
    display: flex;
    align-items: center;
}

#search-box{
    width: 85%;
    resize: none;
    border-radius: 20px;
    background-color: #E2E8F0;
    border: none;
    min-height: 22px;
    padding: 0 10px;
}

.user-actions, .header-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 10px;
}

.user-big{
    border-radius: 30px;
    height: 50px;
    width: 50px;
}

.curr-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-buttons > button{
    background-color: #1992D4;
    border-radius: 20px;
    border: none;
    width: 30%;
    height: 50%;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.header-buttons > button:hover{
    cursor: pointer;
    border: 1px solid black;
    color: #1992D4;
    background-color: white;
}

.content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
}

.content-head{
    padding-bottom: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: white;
    padding: 20px 10px;
    width: 45%;
    min-height: 200px;
    border-radius: 5px;
    border-left: 5px solid #F0B429;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 4px #acb0b7;
}

.card-body > p{
    font-size: 14px;
    color: #A1A1A1;
}

.card-buttons{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 10px;
    gap: 10px;
}

.card-button{
    height: 20px;
    width: 20px;
}

hr{
    margin: 10px 0;
    background-color: white;
    border: 0.5px solid #A1A1A1;

}

.announce-box, .featured-box{
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 4px #acb0b7;
    margin-bottom: 20px;
}

.announcement-text, .tagline{
    font-size: 12px;
    color: #A1A1A1;
}

.user-small{
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.feature{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}


.user-small:hover, .user-big:hover{
    cursor: pointer;
    box-shadow: 1px 1px 4px 4px #F0B429;
}

li:hover, li > h6:hover, .card-title:hover, .announcement-title:hover{
    cursor: pointer;
    color: #F0B429;
}

